h1 {
    color: blueviolet;
}
.jumbotron {
    margin-bottom:0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
}

.product-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-item p {
    font-size: 16px;
    color: #e67e22;
    font-weight: bold;
}
.icones_sociaux {
    max-height: 36px;
    margin: 5px;
}
.icones_sociaux:hover{
    opacity: 0.7;
}

.appstore {
    max-height: 70px;
    margin: 5px;
}
.appstore:hover{
    opacity: 0.7;
}
.googleplay {
    max-height: 70px;
    margin: 5px;
}
.googleplay:hover{
    opacity: 0.7;
}
.codeqr {
    max-height: 100px;
    margin: 5px;
}
.codeqr:hover{
    opacity: 0.7;
}
.trustpilot {
    max-height: 100px;
    margin: 5px;
}
.trustpilot:hover{
    opacity: 0.7;
}